index:
  h2 Welcome to game "{{game.name}}"!
  if canStart
    //a(href="pathFor('home')") Home
    //a(href="pathFor('game', #root._page.game.id, #root._page.game.type)")
      | Game
    a(on-click='start()').btn.btn-warning Start
  .container-fluid
    .col-md-3
      h2 Players
      if canJoin
        a(on-click='join()').btn.btn-primary Join
      table.table
        thead
          tr
            th Id
        tbody
          each game.userIds as #uid
            tr
              td {{#uid}}
    .col-md-3
      if game.started && !game.finished && !user.prof
        h2 Round {{game.currentRound}}
        h3 Answer
          if !player.answered
            form(on-submit='answer()')
              .form-group
                input(value='{{answer}}', type='number', min='0', max='75').form-control
                button.btn.btn-primary Submit
          else
            p your answer: {{player.answer}}
      else
        if game.finished
          h2 Finished!
    .col-md-6
      h2 Results
      //on game.currentRound
      table.table
        on game
          thead
            tr
              th Users
              each [0,1,2,3,4,5,6,7,8,9] as #rid
                if #rid < (game.currentRound - 1)
                  th Round {{#rid+1}}
          tbody
            each game.userIds as #uid
              with game.players[#uid].rounds as #rounds
                tr
                  td {{#uid}}
                  each [0,1,2,3,4,5,6,7,8,9] as #rid
                    if (#rid < (game.currentRound - 1)) || (user.prof)
                      td {{#rounds[#rid]}}
            tr
              td
                b Price
              //each price as #pr
              each [0,1,2,3,4,5,6,7,8,9] as #rid
                if #rid < (game.currentRound - 1) || (user.prof)
                  td {{f(price[#rid])}}

            tr
              td
                b Profit
            each game.userIds as #uid
              tr
                td {{#uid}}
                //each profit[#uid] as #pr
                each [0,1,2,3,4,5,6,7,8,9] as #rid
                  if #rid < (game.currentRound - 1)
                    td {{profit[#uid][#rid]}}
                if game.finished || user.prof
                  td
                    b {{totalProfit[#uid]}}


//answer:
