import:(src="./home")
import:(src="./game-page")

Title:
  | {{_page.title}}

Body:
  view(is="header")
  view(is="{{$render.ns}}")
  view(is="footer", year="2014")

header:
  header
    nav.navbar.navbar-inverse
        .container
            a(href='/').navbar-brand Multi

footer:
  footer
    //p Footer {{@year}}