import:(src="./home")
import:(src="./game-page")

Title:
  | {{_page.title}}

Body:
  view(is="header")
  view(is="{{$render.ns}}")
  view(is="footer", year="2014")

header:
  header
    .container
        a(href='/') Shrimp game

footer:
  footer
    //p Footer {{@year}}